.App {
  text-align: center;
}

.App-logo {
  align-self: center;
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-menu {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 2;
  left: 0;
  overflow-x: hidden;
  background-color: #282c34;
}

.App-content {
  align-items: center;
  align-content: center;
  flex-direction: column;
  display: flex;
  background-color: white;
  width:85%;
  float: right;
}

.App-header {
  padding-top: 10px;
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: white;
  font-size-adjust: none;
  text-decoration: none;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-link:hover {
  background-color: white;
  color: #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-bar {
  -webkit-app-region: drag;
  height: 24px;
  width: 100%;
  background-color: #abccd5;
  margin: 0px;
  z-index: 0;
}

.btns {
  -webkit-app-region: no-drag;
  position: relative;
  float: left;
  white-space: nowrap;
  padding: 4px;
  margin-left: 4px;
}

.close, .min, .max {
  float: left;
  border-radius: 50%;
  margin-right: 8px;
  opacity: 100;
  height: 15px;
  width: 15px;
}

.close {
  background-color: #E96E4C;
}

.min {
  background-color: #E6A935;
}

.max {
  background-color: #85C33D;
}
